'fileTypes': [
  'hbs'
  'handlebars'
]
'name': 'HTML (Handlebars)'
'patterns': [
  {
    'match': '\{{2,3}[^}]*\}{2,3}'
    'name': 'handlebars.variable'
  }
  {
    'begin': '{{!--'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.handlebars'
    'end': '--}}'
    'name': 'handlebars.comment.block'
    'patterns': [
      {
        'match': '--'
        'name': 'invalid.illegal.bad-comments-or-CDATA.html'
      }
      {
        'include': '#embedded-code'
      }
    ]
  }
  {
    'begin': '{{!'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.handlebars'
    'end': '}}'
    'name': 'handlebars.comment.block'
    'patterns': [
      {
        'match': '(\}\}|\n)'
        'name': 'invalid.illegal.bad-comments-or-CDATA.html'
      }
      {
        'include': '#embedded-code'
      }
    ]
  }
  {
    'include': 'text.html.basic'
  }
]
'scopeName': 'text.html.handlebars'
